torch
transformers
# datasets
tqdm
numpy
pandas
scikit-learn
notebook
accelerate
rouge-score
seaborn
matplotlib
# scipy
# matplotlib
# einops
# huggingface-hub

# tokenizers
# ipykernel
# ipython>=8.24
# ipywidgets
# protobuf
# python-dotenv
# scienceplots
# openai>=1.23
# bitsandbytes
